.mode {
    display: flex;
    background-color: #151932;
    padding: 0.5rem;
    width: 350px;
    border-radius: 30px;
}
.mode-item {
    padding: 0.8rem 0;
    border-radius: 25px;
    width: 33%;
    color: #575b76;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    word-spacing: -4px;
}